<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title> Simplex homology calculator </title>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css"/>
    <script language="JavaScript" src="label.js" type="application/javascript"></script>
    <noscript> you need javascript to continue </noscript>
<body>
<script language="JavaScript" type="application/javascript">
    document.addEventListener('DOMContentLoaded', initialize, false);
</script>
</body>
</html>
